body {
  background-color: lightslategray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #e7b2f8;
  
  /* display: flex;
  flex-wrap: wrap; 
  display: grid; */
  
}
header {
  align-items: center;
  
}
.wrapper {
  display: flex;
  flex-direction:row;

  flex-wrap: wrap;

  /* display: grid; */

    /* grid-template-columns: 200px 200px 200px; */
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    column-gap: 10px;
    row-gap: 1em;
  }
.container { 
    width: 200px;
    height: 200px;
    background-color: lightslategray;
    border: 5px dotted #bb96c7;
    pad: 3px;
    margin: 3px;
}  
h2 { 
  text-align: center;
  background-color: rgb(74, 86, 97);
  border: 3px solid #bb96c7;
  border-radius: 5px;
  /* padding-top: 5px; */
  margin: 10px;
}
p {
  font-size: 1.2em;
  transition: font-size 3s 1s;
  text-align: center;
  color: azure;
  background: linear-gradient(#bb96c7, #663e76);
  padding: auto;
  margin: auto;
  width: 180px;
  height: 130px;
  user-select: all;
}


footer {
  text-align: center;
}
/* @media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  body {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
} */
